<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.base.mapper.EqPingMapper">
    
    <resultMap type="EqPing" id="EqPingResult">
        <result property="id"    column="id"    />
        <result property="eqType"    column="eq_type"    />
        <result property="eqId"    column="eq_id"    />
        <result property="eqName"    column="eq_name"    />
        <result property="ip"    column="ip"    />
        <result property="port"    column="port"    />
        <result property="lastPingTime"    column="last_ping_time"    />
    </resultMap>

    <sql id="selectEqPingVo">
        select id, eq_type, eq_id, eq_name, ip, port, last_ping_time from eq_ping
    </sql>

    <select id="selectEqPingList" parameterType="EqPing" resultMap="EqPingResult">
        <include refid="selectEqPingVo"/>
        <where>  
            <if test="eqType != null  and eqType != ''"> and eq_type = #{eqType}</if>
            <if test="eqId != null "> and eq_id = #{eqId}</if>
            <if test="eqName != null  and eqName != ''"> and eq_name like concat('%', #{eqName}, '%')</if>
            <if test="ip != null  and ip != ''"> and ip like concat('%', #{ip}, '%')</if>
            <if test="port != null  and port != ''"> and port = #{port}</if>
            <if test="lastPingTime != null "> and last_ping_time = #{lastPingTime}</if>
        </where>
    </select>
    
    <select id="selectEqPingById" parameterType="Long" resultMap="EqPingResult">
        <include refid="selectEqPingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEqPing" parameterType="EqPing" useGeneratedKeys="true" keyProperty="id">
        insert into eq_ping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="eqType != null">eq_type,</if>
            <if test="eqId != null">eq_id,</if>
            <if test="eqName != null">eq_name,</if>
            <if test="ip != null">ip,</if>
            <if test="port != null">port,</if>
            <if test="lastPingTime != null">last_ping_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="eqType != null">#{eqType},</if>
            <if test="eqId != null">#{eqId},</if>
            <if test="eqName != null">#{eqName},</if>
            <if test="ip != null">#{ip},</if>
            <if test="port != null">#{port},</if>
            <if test="lastPingTime != null">#{lastPingTime},</if>
         </trim>
    </insert>

    <update id="updateEqPing" parameterType="EqPing">
        update eq_ping
        <trim prefix="SET" suffixOverrides=",">
            <if test="eqType != null">eq_type = #{eqType},</if>
            <if test="eqId != null">eq_id = #{eqId},</if>
            <if test="eqName != null">eq_name = #{eqName},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="lastPingTime != null">last_ping_time = #{lastPingTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEqPingById" parameterType="Long">
        delete from eq_ping where id = #{id}
    </delete>

    <delete id="deleteEqPingByIds" parameterType="String">
        delete from eq_ping where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectEqPingByEqDevice" resultMap="EqPingResult">
        <include refid="selectEqPingVo"/>
        <where>
            and eq_type = #{eqType}
            and eq_id = #{eqId}
        </where>
    </select>
</mapper>